<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 5 DatePicker</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>

    

    <style>
       
        .sidebar {
            height: 100vh;
            position: fixed;
            left: 0;
            width: 250px; /* Adjusted width */
            overflow-x:hidden;
            overflow-y:hidden;
            z-index: 1000;
            background-color: #f9fafa00; /* Light gray background */
            padding: 20px;
            box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5); /* Added shadow for depth */
        }

        .sidebar .nav-item {
            list-style: none;
            margin-bottom: 30px;
            margin-left: -9px;
            font-weight: 400;
            

        }

        .sidebar .nav-link {
            text-decoration: none;
            color: #000; /* Black text color */
            font-size: 18px;
            display: block;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .sidebar .nav-link:hover {
            background-color: #e9ecef; /* Light hover effect */
            color: #007bff; /* Blue text on hover */
        }

        .sidebar .nav-link img {
            margin-top: 18px;
            margin-right: 10px;
            vertical-align:bottom;
        }

        .aa {
            font-size: 20px;
        }

        .custom-rounded-img {
            border-radius: 50%; /* Make the image round */
            width: 25px;
            height: 25px;
            /* Adjust width as needed * /* Adjust height as needed */
            object-fit:cover; /* Ensure the image covers the area */
        }
      
        .dropdown {
            position: absolute;
            bottom: 10px;
            margin-top: 0; /* ลบ margin-top ที่กำหนดไว้ก่อนหน้านี้ */
            width: 100%; /* กำหนดความกว้างเท่ากับปุ่มอื่นๆ */
        }

        .dropdown-menu {
           
            position: absolute;
            bottom: 100%; /* ตั้งค่าให้ปรากฏด้านล่างของปุ่ม */
            left: 0;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            background-color: white;
            width: 90%; /* ขยายความกว้างเพื่อให้เต็มปุ่ม */
        }

        
        .dropdown button {
            width: 50%; /* กำหนดความกว้างเท่ากับปุ่มอื่นๆ */
            /* สไตล์อื่นๆ ตามที่ต้องการ */
        }

        .dropdown-toggle::after {
            display: none;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 25px;
        }

        .profile-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-right: 45px;
            position: relative;
        }

        .profile-details .row {
            margin-bottom: 10px;
        }

        .profile-actions {
            padding-left: 20px; 
        }

        .profile-actions .btn {
            margin: 3px;
        }

        .profile-image-link {
            display: inline-block;
            cursor: pointer;
        }

        .profile-image {
            transition: all 0.3s ease;
        }

        .custom-button {
            width: 130px;
            height: 32px;
            color: #000000;
            background-color: #EFEFEF;
            border: 0px solid #ccc;
            border-radius: 7px;
            margin-right: 15px;
        }

        .custom-button:hover {
            background-color: #d1cfcf; /* รักษาสีพื้นหลังเดียวกันเมื่อเอาเมาส์ไปชี้ */
          /* คุณสามารถเพิ่มเอฟเฟกต์อื่นๆ ที่นี่ถ้าต้องการ */
        }

        .welcome-text {
            position: relative;
            top: -35px; /* ปรับค่านี้ตามที่คุณต้องการ */
        }

        hr{
            width: 850px;
        }
        
        .card-body-Info{
            border: 1px solid #b1b1b1; 
            border-radius: 7px;
            padding: 20px;
        }

        .card-body-business{
            border: 1px solid #b1b1b1; 
            border-radius: 7px;
            padding: 20px;
        }

        .post-all {
            display: flex;
            justify-content: space-around; /* หรือคุณอาจเลือกใช้ center, space-between ตามที่คุณต้องการ */
            margin-left: 300px;
            padding-left: 10px;
        }

        .post-1 {
            width: 316px;
            height: 316px;
            margin: 3px;
            background-color: #ddd;
        }

        .post-2 {
            width: 316px;
            height: 316px;
            margin: 3px;
            background-color: #ddd;
        }

        .post-image {
            width: 100%; /* รูปภาพจะขยายเต็มขนาดของคอนเทนเนอร์ */
            height: 100%; /* รูปภาพจะขยายเต็มขนาดของคอนเทนเนอร์ */
            object-fit: cover; /* รูปภาพจะถูกเติมให้เต็มขนาดและครอบส่วน */
            position: relative;
        }

        .post-image-link {
            cursor: pointer;
        }

        .post-image {
            transition: all 0.3s ease;
        }

        .post-image-link:hover .post-image {
            background-image: rgba(0, 0, 0, 0.5); /* ทำให้รูปภาพมีความโปร่งใสเมื่อเมาส์ชี้ */
            /* หรือคุณอาจต้องการเพิ่มเอฟเฟกต์อื่นๆ เช่น การเปลี่ยนสีขอบ */
        }

        .post-container {
            margin-left: -200px; /* หรือค่าที่เหมาะสมกับการออกแบบของคุณ */
        }

    
    #displayBusinessHours {
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        color: #333;
        font-size: 16px;
        text-align: center;
    }
    /* Style the button */
    .btn.edit-business-hours {
        background-color: #007bff; /* Set the background color to a desired color */
        color: #fff; /* Set the text color to white or any contrasting color */
        border: none; /* Remove the border */
        padding: 10px 20px; /* Adjust the padding as needed */
        border-radius: 5px; /* Add rounded corners */
        cursor: pointer; /* Add a pointer cursor on hover */
    }

    /* Style the pencil icon inside the button */
    .btn.edit-business-hours i {
        margin-right: 5px; /* Add some spacing between the icon and text */
    }

    /* Hover effect - Change the background color on hover */
    .btn.edit-business-hours:hover {
        background-color: #0056b3; /* Change to a slightly darker color on hover */
    }
    html,
    body {
    height: 100%;
    }

    .form-signin {
    max-width: 330px;
    padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .center1{   
        display: flex; 
        justify-content: center;  
        align-items: center;

            }
            
            .drop-zone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointe;
    }

    #outputDiv {
        color: grey; /* สีของ placeholder */
    }

    .preview-desktop{
        text-align: center; 
        margin-bottom: -20px; 
        margin-left: 10px;
        background: #000000; 
        display: inline-block; 
        padding: 3px 10px ;
        color: #ffffff;
        font-size: 22px; 
        font-weight: bold; 
        position: relative; 
        top: 40px;
        border-radius: 7px;
        
    }

        
        .profile-one {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0 10px 0; /* ปรับ margin-top ที่นี่ */
    margin-top: 30px; /* เพิ่ม margin-top */
    /* Add other styling as needed */
}



</style>



    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div class="sidebar">
            <!-- Sidebar content here -->
            <div>
                <a href="/user/feed"ß class="d-flex mb-3 mb-md-0 text-decoration-none">
                    <span class="fs-4"><img src="/public/img/Logo-Instagram.png" style="width: 60%; margin-left: -2px; margin-bottom: 10px;"></span>
                </a>
            
                <ul class="nav">
                    <li class="nav-item">
                
                        <a href="/user/feed" class="nav-link active" aria-current="page">
                            <img src="/public/img/homepage.png" alt="" style="width: 13%;">
                            <span class="aa">หน้าหลัก</span>
                        </a>
                        
                        
                        <a href="#" id="scan" class="nav-link link-body-emphasis">
                            <img src="/public/img/search.png" alt="" style="width: 12%;">
                            <span class="aa">ค้นหา </span>
                         </a>
       
       
                         <style>
                           .modal-content-a {
                                   background-color: #fefefe;
                                   margin: auto; /* จัดให้อยู่ตรงกลาง */
                                   padding: 20px;
                                   border-radius: 10px;
                                   border: 1px solid #888;
                                   width: 40%;
                                   height:80%;
                                   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                                   position: absolute;
                                   top: 50%;
                                   left: 50%;
                                   transform: translate(-50%, -50%);
                                   }

                                    .modal {
                                display: none; 
                                position: fixed; /* ใช้ position fixed เพื่อให้อยู่ตรงกลาง */
                                z-index: 1000;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                overflow: hidden; /* ป้องกันไม่ให้เลื่อนได้ */
                                background-color: rgba(0, 0, 0, 0.6); 
                                }

                        .result-image {
                                width: 60px;      /* ตั้งค่าความกว้าง */
                                height: 60px;     /* ตั้งค่าความสูง */
                                border-radius: 50%; /* ทำให้มุมเป็นวงกลม */
                                object-fit: cover;  /* ให้ภาพปรับให้พอดีกับขนาด */
                                margin-bottom: 20px;
                            
                            
                            }
                            .result-text {
                                margin-left: 10px;
                                vertical-align:15px;
                                
                                
                                
                            }
                        .result-text2 {
                                display: block; /* ทำให้แต่ละ span แสดงในบรรทัดของตัวเอง */
                                margin-left: 71px;
                                margin-top: -50px;
                                color: gray;
                                font-size: 12px;
                                margin-bottom: 10px;

                            }
                            .profile-pic {
                                text-decoration: none; /* ลบเส้นใต้ของลิงก์ */
                                color: inherit; /* ใช้สีข้อความเดียวกับที่รอบๆ มัน */
                            }

                            
                            


                         </style>
       
                      
                      
                         <div id="scan_m" class="modal">
                           <div class="modal-content-a">
                       
                               <label for="scan" class="form-label" style="margin-top: 10px;">ค้นหา</label>
                               <input type="text" class="form-control" id="scans" name="scans" placeholder="คำค้นหา...">
                               <div id="search-results-scan"  class="list-group"></div>
                           </div>
                       </div>
                       
                       <script>
                           function showModal(modalId) {
                               var modal = document.getElementById(modalId);
                               modal.style.display = "block";
                               document.body.style.overflow = 'hidden';
                           }
                       
                           function hideModal(modalId) {
                               var modal = document.getElementById(modalId);
                               modal.style.display = "none";
                               document.body.style.overflow = '';
                           }
                       
                           document.getElementById('scan').addEventListener('click', function () {
                               showModal('scan_m');
                           });
                           // ซ่อน modal ค้นหาเมื่อคลิกนอกเขต modal
       window.onclick = function(event) {
           var modal = document.getElementById('scan_m');
           if (event.target == modal) {
               modal.style.display = "none";
               document.body.style.overflow = '';
           }
       }
       
                       
                           // สคริปต์สำหรับการค้นหาที่อยู่
                           document.getElementById('scans').addEventListener('input', function () {
           var query = this.value;
           var resultsDiv = document.getElementById('search-results-scan');
       
           if (query.trim() !== '') {
               fetch('/search/api/scan?query=' + encodeURIComponent(query))
                   .then(function (response) {
                       if (!response.ok) {
                           throw new Error('Network response was not ok');
                       }
                       return response.json();
                   })
                   .then(function (data) {
                       resultsDiv.innerHTML = '';
                       data.results.forEach(function (result) {
                           var resultItem = document.createElement('a');
                           resultItem.href = "javascript:void(0);";
                           resultItem.className = 'list-group-item list-group-item-action';
       
                           // สร้างและเพิ่มภาพ
                           var image = document.createElement('img');
                           image.src = '/img/mk_img_mk/' + result.market_id;
                           image.alt = 'Image';
                           image.className = 'result-image';
                           resultItem.appendChild(image);
       
                           // สร้างและเพิ่มข้อความ (market_name)
                           var text = document.createElement('span');
                           text.className = 'result-text';
                           text.appendChild(document.createTextNode(result.market_name));
                           resultItem.appendChild(text);
       
                           // สร้างและเพิ่มข้อความ (mk_discript)
                           var descriptionText = document.createElement('span');
                           descriptionText.className = 'result-text2';
                           descriptionText.appendChild(document.createTextNode(result.business_name));
                           resultItem.appendChild(descriptionText);
       
                           resultItem.addEventListener('click', function () {
                               document.getElementById('scan').value = result.textContent;
                               resultsDiv.innerHTML = '';
                               window.location.href = '/user/show_mk?market_id=' + encodeURIComponent(result.market_id);
                           });
       
                           resultsDiv.appendChild(resultItem);
                       });
                   })
                   .catch(function (error) {
                       console.error('Fetch error:', error);
                   });
           } else {
               resultsDiv.innerHTML = '';
           }
       });
       
                       </script>
                        <a href="/user/explore" class="nav-link">
                            <img src="/public/img/compass.png" alt="" style="width: 12%;">
                            <span class="aa">สำรวจ</span>
                        </a>
                        
                        
    

                    <!-- Replace 'rounded-circle' with 'custom-rounded-img' -->
                        <a href="/user/profile" class="nav-link">
                            <img src="/img/file" class="custom-rounded-img" alt="">
                            <span class="aa">โปรไฟล์</span>
                        </a>


                        <div class="dropdown">
                            <button class="btn dropdown-toggle " type="button" >
                                <img src="/public/img/more.png" alt="Logo" style="width: 25%; margin-right: 10px;">
                                <span class="aa">เพิ่มเติม</span>
                            </button>

                            <ul class="dropdown-menu" style="display: none;">
                                <li><a class="dropdown-item " href="/logout" >สลับบัญชี</a></li>
                                <li><a class="dropdown-item " href="/logout">ออกจากระบบ</a></li>
                            </ul>
                        </div>

                    </li>        
                </ul>
            </div>
        </div>
        <div class="container">
          <div class="row">
              <!-- First Column -->
              
              <div class="col-md-6">
                <div class="profile-one">
                    <form id="addLogin" action="/register/add/business" method="post">
                        <!-- Your form fields go here -->
                        <div class="center1">
                            <img class="mb-2" src="public/img/job-search.png" alt="" width="40%">
                        </div>
                        <h1 class="h3 mb-4 fw-normal text-center">โปรไฟล์ธุรกิจ</h1>
                        
    
                        <div class="form-floating my-4">
                            <input type="text" class="form-control" id="business" name="user" value="<%= user %>" placeholder="Enter your username" required>
                            <label for="username">ชื่อบัญชีธุกิจ</label>
                        </div>
    
                        <div class="form-floating my-4">
                            <input type="text" class="form-control" id="search" name="search" value="<%= search %>" placeholder="name@example.com" required>
                            <label for="search">ประเภทธุรกิจ</label>
                            <div id="search-results" class="list-group"></div>
                        </div>  
    
                        <div class="form-floating my-4">
                            <input type="text" class="form-control" id="aboutbusiness" name="about" value="<%= about %>" placeholder="Password" required>
                            <label for="floatingPassword">เกี่ยวกับธุรกิจ</label>
                        </div>
                        <div style="color: gray; font-size: 13px;">* โปรดสร้างบัญชีด้วยความรอบคอบ เพราะบัญชีนี้เป็น</div>
                        <div style="color: gray; font-size: 13px; margin-left: 11px;">พื้นที่สาธารณะที่บุคคลอื่นๆสามารถเข้าถึงได้</div>
    
                        <button type="submit" class="btn btn-dark w-100 py-2" style="margin-bottom: 3px; margin-top: 108px;">สร้างโปรไฟล์</button>
                        
                    </form>
                </div>
                  
              </div>
      
              <!-- Second Column -->
              <!-- Inside the 'container' div, update the second column as follows: -->
            <div class="col-md-6">
                <h6 class="preview-desktop">พรีวิวบนเดสก์ท็อป</h6>
                <div class="head-content" style="width: 684px; margin: 0 auto; background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" > 
        
                    <img src="/middleware/img/download.png" style="width: 100%; /* กว้างเต็มโพสต์ */
                    height: 300px; /* ความสูงปรับตามรูปภาพ */
                    object-fit: cover; /* ทำให้รูปภาพอยู่ภายในขนาดของตัว container */
                    max-height: 100%; border-radius: 10px;">
                </div>
                <div class="prifile-content" style="width:684px; margin: 0 auto; background-color: white; border-radius:0 0 10px 10px; margin-bottom: 50px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <style>
                        .profile-header {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
        
                        .profile-image {
                            width: 185px;
                            height: 185px;
                            object-fit: cover;
                            margin-right: 45px;
                            position: relative;
                            margin-top: -90px;
                            margin-left: 30px;
                            border: 5px solid white; /* This will add a white border */
                            border-radius: 10px; /* This will make the corners of the border rounded */
                            background-color: white;
                        }
    
                    </style>
                    <div class="profile-image-link" >
                        <img src="/middleware/img/aa.jpg" class="profile-image rounded-circle" alt="Profile Picture" >
                    </div>
                    <div style="margin-left: 235px; margin-top: -85px;">
                        <strong style="font-size: 35px;" id="outputDiv">ชื่อธุรกิจ</strong>
                        <div style="margin-top: -8px;">
                            <strong style="font-size: 15px;" id="outputDiv2">ประเภทธุรกิจ</strong>
                    </div>
                </div>

                <div style="margin-top: 13px;"></div>
                <div style="height: 150px; width: 97%; background-color: #ffffff;  margin: auto; border-radius: 10px;">
                    
                    <div style="margin-top: 5px;"></div>
                    <div style="height: 150px; width: 97%; background-color: #ffffff;  margin: auto; border-radius: 10px;">
                    
                        <div style="height: 0px; "></div>
                 
                        <div style=" margin-left: 217px; ">
                            <!-- <img src="/public/img/info-button.png" style=" width: 21px; margin-left: 1.5px;"> -->
                            <strong style="font-size: 18px;"></strong>
                            <Span  id="outputDiv3"></Span>
                            
                            <!-- ข้อดีของสินค้านั้นเป็นสิ่งที่ควรจะเขียน แต่ก็ไม่ใช่เขียนแต่ข้อดี -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script>

document.getElementById('search').addEventListener('input', function () {
  var query = this.value;
  var resultsDiv = document.getElementById('search-results');
  
  if (query.trim() !== '') {
      fetch('/search/api/businuess?query=' + encodeURIComponent(query))
      .then(function (response) {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json();
      })
      .then(function (data) {
          resultsDiv.innerHTML = '';
          data.results.forEach(function (result) {
              var resultItem = document.createElement('a');
              resultItem.href = "javascript:void(0);";
              resultItem.className = 'list-group-item list-group-item-action';
              resultItem.textContent = result.business_name;
              resultItem.addEventListener('click', function() {
                  document.getElementById('search').value = result.business_name;
                  document.getElementById('outputDiv2').textContent = result.business_name; // อัพเดทที่นี่
                  resultsDiv.innerHTML = '';
              });
              resultsDiv.appendChild(resultItem);
          });
      })
      .catch(function (error) {
          console.error('Fetch error:', error);
      });
  } else {
      resultsDiv.innerHTML = '';
  }
});
</script>
  
  
  



  <script>
      document.getElementById('business').addEventListener('input', function() {
          var inputText = this.value;
          var outputDiv = document.getElementById('outputDiv');
          if (inputText) {
              outputDiv.textContent = inputText;
              outputDiv.style.color = "black"; // สีของข้อความปกติ
          } else {
              outputDiv.textContent = "ชื่อธุรกิจ";
              outputDiv.style.color = "grey"; // สีของ placeholder
          }
      });
    </script>


<script>
  // ดักจับการพิมพ์ข้อมูลและแสดงผลลัพธ์ใน real-time
  document.getElementById('aboutbusiness').addEventListener('input', function() {
      var inputText = this.value;
      document.getElementById('outputDiv3').textContent = inputText;
  });
</script>

<script>
 
    document.addEventListener('DOMContentLoaded', function () {
        var dropdown = document.querySelector('.dropdown');
        var dropdownMenu = document.querySelector('.dropdown-menu');
     
        // เมื่อคลิกที่ปุ่ม dropdown
        dropdown.addEventListener('click', function (event) {
            // ป้องกันเหตุการณ์เริ่มต้นของลิงก์
           
           
            // แสดงหรือซ่อน dropdown menu
            if (dropdownMenu.style.display === 'block') {
                dropdownMenu.style.display = 'none';
            } else {
                dropdownMenu.style.display = 'block';
            }
        });
     
        // ซ่อน dropdown เมื่อคลิกนอกเขต dropdown
        document.addEventListener('click', function (event) {
            var isClickInside = dropdown.contains(event.target);
     
            if (!isClickInside) {
                dropdownMenu.style.display = 'none';
            }
        });
    });
     
           </script>
     

  


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- เรียกใช้ Bootstrap JS และ Popper.js และ jQuery (ถ้าต้องการใช้ Modal หรืออื่น ๆ) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js" integrity="sha384-bFj4l4A8NqnxF5R5QVx6cvlkyO5rFEC6cBwI3orFEFtF5foqyz63uqqq5O5F5fF5F5F5F5" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+T6D5CcL6I2/jU5mF0XFeF5F5S5O5F5F5F5F5F5F5F5F5F5F5" crossorigin="anonymous"></script>
</body>
</html>