<!-- views/user/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
</head>
<body>
    <h1>Welcome to the User Home Page</h1>
    
    <% if (userData) { %>
        <h2>User Information</h2>
        <ul>
            <li>User ID: <%= userData.login_id %></li>
            <li>User Name: <%= userData.user %></li>
            <li>Email: <%= userData.email %></li>
            <!-- Add more details as needed -->
        </ul>
    <% } else { %>
        <p>No user data found.</p>
    <% } %>

    <!-- Add other content as needed -->

</body>
</html>
